<!DOCTYPE html>
<html>
<head>
  <title>Silent Hill menu</title>
  <link rel="stylesheet"  href="../CSS/barra.css">
</head>
<body class="body">

<div class="caja ">
<div class="logo">
  <img src="../Assets/imagenes/logo_portal.png" >
</div>

<div class="menu">
    <ul>
      
      <il>
        <li>Inicio</li>
        <li>Imagnes</li>
        <li>Historia</li>
        <li>Mas informacion</li>

      </il>
    </ul>
</div>
</div>

  <div class="Contenido">
    
    <img src="../Assets/imagenes/Heather_Mason.png" class="imagen">

    <h1>BIENVENIDO A SILENT HILL</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum. lorem
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <h1>Juegos:</h1>

    <div class="fila">
    <img src="../Assets/imagenes/Silent_hill1.jpg" class="Portadas">

        <figcaption>
    <h2 class="Titulo">SILENT HILL 1999</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </figcaption>     
  </div>
  <hr>
  <br>
  <div class="fila">
    <img src="../Assets/imagenes/Silent_hill2.jpg" class="Portadas">

        <figcaption>
    <h2 class="Titulo">SILENT HILL 2 2001</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </figcaption>     
  </div>
  <hr>
  <br>
  <div class="fila">
    <img src="../Assets/imagenes/silent_hill3.jpg" class="Portadas">

        <figcaption>
    <h2 class="Titulo">SILENT HILL 3 2003</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </figcaption>     
  </div>
  <hr>
  <br>
  <div class="fila">
    <img src="../Assets/imagenes/silent_hill4.jpg" class="Portadas">

        <figcaption>
    <h2 class="Titulo">SILENT HILL 4 2004</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </figcaption>     
  </div>
  <hr>
  <br>
  <div class="fila">
    <img src="../Assets/imagenes/silent_hill5.jpg" class="Portadas">

        <figcaption>
    <h2 class="Titulo">SILENT HILL Origins  2009</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </figcaption>     
  </div>
  <hr>
  <br>
  <div class="fila">
    <img src="../Assets/imagenes/silent_hill6.jpg" class="Portadas">

        <figcaption>
    <h2 class="Titulo">SILENT HILL Shatterd Memoris 2009</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </figcaption>
  </div>
  <hr>
  <br>
  <div class="fila">
    <img src="../Assets/imagenes/silent_hill7.jpg" class="Portadas">

        <figcaption>
    <h2 class="Titulo">SILENT HILL Homecoming  2008</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </figcaption>     
  </div>
  <hr>
  <br>
  <div class="fila">
    <img src="../Assets/imagenes/silent_hill8.jpg" class="Portadas">

        <figcaption>
    <h2 class="Titulo">SILENT HILL Downpour  2012</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </figcaption>     
  </div>
    <hr>
    <br>
    <div class="fila">
    <img src="../Assets/imagenes/silent_hill9.jpg" class="Portadas">

        <figcaption>
    <h2 class="Titulo">SILENT HILL F  2025</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </figcaption>     
  </div>


</body>
</html>